.history
__pycache__
logs/random*
backups
data/MNIST/
flower/reports
flower/MNIST/
flower/wf_solver/
flower/initial_clients/
flower/logs/
flower/fixed_*
results_flower/results.json
results_flower/*.pkl
*.egg-info
wf_solver/build/
old
sample_problems/logs
sample_problems/wf_solver
random_problems/wf_solver
random_problems/logs
results_flower/logs/
results_flower/figures/
results_flower/processed/
results_random_problems/figures/
.vscode/